// ------- Variables --------

$color-text: #333;
$color-primary: #00C9FF; 
$color-secondary: #92FE9D;

// -------- basic elements ----------

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: $color-text;
    background: $color-primary;  
    background: -webkit-linear-gradient(217deg, $color-secondary, $color-primary);
    background: linear-gradient(217deg, $color-secondary, $color-primary);
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    font-size: 62.5%;
}

h1 {
    margin-bottom: 0;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 0;
}

p {
    font-size: 1.6rem;
}

main {
    margin: auto;
    background-color: white;
    
    
    
    margin-bottom: 100px;
    padding-bottom: 32px;

    @media (min-width: 576px)  {
        margin-top: 100px;
        max-width: 450px;
        box-shadow:
            0 4.7px 18.8px rgba(0, 0, 0, 0.028),
            0 21.7px 34.2px rgba(0, 0, 0, 0.042),
            0 100px 80px rgba(0, 0, 0, 0.07)
        ;
        border-radius: 8px;
    }
}

// ------------ Header -----------


.header {
    position: relative;
    text-align: center;

    &__img-wrapper {
        background-color: $color-secondary;
        background: -webkit-linear-gradient(217deg, $color-primary, $color-secondary);
        background: linear-gradient(217deg $color-primary, $color-secondary);
        height: 225px;
        width: 450px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius:50%;
        border-bottom-right-radius:50%;
        opacity: 0.8;
        position: absolute;

        img {
            height: 225px;
            width: 450px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius:50%;
            border-bottom-right-radius:50%;
            background-color: $color-secondary;
            position: absolute;
            display: block;
            filter: grayscale(100%) contrast(1) blur(0px);
            mix-blend-mode: multiply;
        }
    }

    &__avatar {
        width: 128px;
        height: 128px;
        position: absolute;
        left: 161px;
        top: 145px;
        margin-top: -64px;
        margin-left: -64px;
    }

    &__info {
        padding-top: 270px;

        p {
            margin-top: 5px;
        }

        &__info-social {
            display: flex;
            justify-content: space-around;
            width: 120px;
            margin: auto;

            a {
                text-decoration: none;
                color: $color-text;
                display: block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                text-align: center;
                background: white;
                transition: background-color 0.5s ease-out;
                transition: color 0.2s ease-out;

                i {
                    font-size: 2.4rem;
                    margin: 4px 0 0 2px;
                }
            }

            a:hover {
                background: $color-primary;  
                background: -webkit-linear-gradient(217deg, $color-secondary, $color-primary);
                background: linear-gradient(217deg, $color-secondary, $color-primary);
                color: white;
            }
        }
    }
}

article {
    padding: 0 16px 0 16px;
}

.service {

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "webdev webdesign"
        ;
        font-size: 1.4rem;

        &-webdev {
            grid-area: webdev;
            justify-self: center;
            align-self: center;
            text-align: center;
            border-right: 1px solid #00C9FF;
            width: 100%;
        }
        
        &-webdesign {
            grid-area: webdesign;
            justify-self: center;
            align-self: center;
            text-align: center;
            width: 100%;
        }

        .icon {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            text-align: center;
            line-height: 46px;
            color: white;
            font-size: 1.8rem;
            background:$color-primary;  
            background: -webkit-linear-gradient(217deg, $color-secondary, $color-primary);
            background: linear-gradient(217deg, $color-secondary, $color-primary);
            opacity: 0.4;
            margin: auto;
        }
    }
}